---
import LocationIcon from "../icons/LocationIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import TelIcon from "../icons/TelIcon.astro";

import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
---

<section class="min-w-full flex flex-col gap-2 border-b-1 border-zinc-800 pb-8">
  <p class="text-green-400 mb-4">
    <span class="text-zinc-500">$</span> cat contact.txt
  </p>

  <div class="flex justify-between">
    <a href="mailto:software.project.zero@gmail.com" target="_blank" rel="noopener noreferrer" title="Send me an email" class="bg-black text-green-400 border border-green-400 cursor-pointer rounded-full w-fit flex items-center gap-2 px-2 hover:bg-green-400 hover:text-black transition-colors duration-500">
      <MailIcon className="inline-block size-6 text-black stroke-green-400" />
      software.project.zero@gmail.com
    </a>
    
    <a href="tel:+573003466295" target="_blank" rel="noopener noreferrer" title="Call me" class="bg-black text-green-400 border border-green-400 cursor-pointer rounded-full w-fit flex items-center gap-2 px-2 hover:bg-green-400 hover:text-black transition-colors duration-500">
      <TelIcon className="inline-block size-6 text-black stroke-green-400" />
      +57 300 346 6295
    </a>
    
    <span class="bg-black text-green-400 border border-green-400 cursor-pointer rounded-full w-fit flex items-center gap-2 px-2 hover:bg-green-400 hover:text-black transition-colors duration-500">
      <LocationIcon className="inline-block size-6 text-black stroke-green-400" />
      Armenia, Quindío, Colombia
    </span>
  </div>
  <div class="flex gap-4 mt-4">
    <button title="GitHub's profile" class="group cursor-pointer flex justify-center items-center gap-2 p-2 border-green-400 border-1 bg-green-950 rounded-lg hover:bg-green-400 hover:text-black transition duration-500">
      <GitHubIcon className="inline-block size-6 text-black stroke-green-400 group-hover:stroke-black transition duration-200" />
      <a class="text-green-400 group-hover:text-black transition duration-500" href="https://github.com/chrisladzamach" target="_blank">GitHub</a>
    </button>
    <button title="LinkedIn's profile" class="group cursor-pointer flex justify-center items-center gap-2 p-2 border-green-400 border-1 bg-green-950 rounded-lg hover:bg-green-400 hover:text-black transition duration-500">
      <LinkedInIcon className="inline-block size-6 text-green-950 stroke-green-400 stroke-1 group-hover:stroke-black group-hover:text-green-400 transition duration-200" />
      <a class="text-green-400 group-hover:text-black transition duration-500" href="https://www.linkedin.com/in/CsZa" target="_blank">LinkedIn</a>
    </button>
  </div>
</section>
