---
import Contact from '../components/Contact.astro';
import Whoami from '../components/Whoami.astro';
import Experience from './Experience.astro';
import Projects from './Projects.astro';
import Footer from './Footer.astro';
---

<main class="bg-black w-full max-w-4xl mx-auto min-h-screen flex flex-col justify-around border-l-1 border-r-1 border-zinc-900 px-4">
	<Whoami />
	<Contact />
	<Experience />
	<Projects />
	<Footer />
</main>