---
import Whoami from '../components/Whoami.astro';
import Contact from '../components/Contact.astro';
import Experience from './Experience.astro';
---

<main class="bg-black w-full max-w-4xl mx-auto min-h-screen flex flex-col ">
	<Whoami />
	<Contact />
	<Experience />
</main>