---
---
<section class="border-b-1 border-zinc-800 pb-8 flex flex-col">
  <p class="text-green-400"><span class="text-zinc-500">$</span> whoami</p>
  <h1 class="text-white text-4xl font-extralight">Christian S. Zambrano</h1>
  <p class="text-green-300 text-lg mb-4">Full Stack Developer</p>
  <p class="text-zinc-400 text-xl">+1 year of experience in web development and design with a focus on user experience.
  </p>
  <p class="text-zinc-400 text-xl">
    Software Analyst and Developer interested in creating effective and efficient solutions. 
    I have experience in 
    <span class="text-yellow-400">JavaScript</span>, 
    <span class="text-blue-400">TypeScript</span>,
    <span class="text-blue-500">React.js</span>, 
    <span class="text-yellow-400">Pyt</span><span class="text-blue-400">hon</span>, 
    and backend technologies such as <span class="text-green-400">Node.js</span> and <span class="bg-white text-black">Express</span>. 
  </p>
</section>