---
---
<section>
  <p class="text-green-400"><span class="text-zinc-500">$</span> whoami</p>
  <h1 class="text-white text-3xl font-bold">Christian S. Zambrano</h1>
  <p class="text-green-300 text-lg">Full Stack Developer</p>
  <p class="text-zinc-400">+1 year of experience in web development and design with a focus on user experience.</p>
</section>